@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    font-family: "Bricolage Grotesque", sans-serif;
    font-optical-sizing: auto;
    /* font-family: "Gabarito", sans-serif; */
    @apply bg-background text-foreground;
  }

  .nav-pill-wrapper {
    @apply relative flex justify-center items-center;
  }

  .nav-indicator-glow {
    @apply absolute inset-0 rounded-full bg-white/10 shadow-[0_0_10px_rgba(255,255,255,0.5)] z-[1];
  }

  .nav-pill {
    @apply relative flex bg-gray-800 rounded-full p-1 z-[2];
  }

  .nav-toggle {
    @apply flex items-center justify-center px-4 py-2 text-white no-underline relative z-[3];
  }

  .nav-toggle.work {
    @apply rounded-l-full;
  }

  .nav-toggle.info {
    @apply rounded-r-full;
  }

  .text-nav-toggle {
    @apply font-bold text-lg;
  }

  .nav-indicator-pill {
    @apply absolute top-1 left-1 w-1/2 h-[calc(100%-8px)] bg-gray-600 rounded-full transition-all duration-300 ease-in-out z-[1];
  }

  .lab-bg {
    --mask-offset: 100px;
    -webkit-mask: linear-gradient(
        to bottom,
        transparent,
        #fff var(--mask-offset) calc(100% - var(--mask-offset)),
        transparent
      ),
      linear-gradient(
        to right,
        transparent,
        #fff var(--mask-offset) calc(100% - var(--mask-offset)),
        transparent
      );
    mask: linear-gradient(
        to bottom,
        transparent,
        #fff var(--mask-offset) calc(100% - var(--mask-offset)),
        transparent
      ),
      linear-gradient(
        to right,
        transparent,
        #fff var(--mask-offset) calc(100% - var(--mask-offset)),
        transparent
      );
    -webkit-mask-composite: source-in, xor;
    mask-composite: intersect;
  }
  .lab-bg-container {
    --mask-offset: 50px;
    -webkit-mask: linear-gradient(
        to left,
        transparent,
        #fff var(--mask-offset) calc(100% - var(--mask-offset)),
        transparent
      ),
      linear-gradient(
        to right,
        transparent,
        #fff var(--mask-offset) calc(100% - var(--mask-offset)),
        transparent
      );
    mask: linear-gradient(
        to left,
        transparent,
        #fff var(--mask-offset) calc(100% - var(--mask-offset)),
        transparent
      ),
      linear-gradient(
        to right,
        transparent,
        #fff var(--mask-offset) calc(100% - var(--mask-offset)),
        transparent
      );
    -webkit-mask-composite: source-in, xor;
    mask-composite: intersect;
  }

  .nav-toggles.works:hover ~ .nav-indicator-pills {
    left: 5px;
  }

  .nav-toggles.infos:hover ~ .nav-indicator-pills {
    left: calc(25% + 5px);
  }

  .nav-toggles.abouts:hover ~ .nav-indicator-pills {
    left: calc(50% + 5px);
  }

  .nav-toggles.contacts:hover ~ .nav-indicator-pills {
    left: calc(75% + 5px);
  }
}
