@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Gabarito", sans-serif;
    @apply bg-neutral-900;
  }

  body::-webkit-scrollbar {
    width: 1rem;
    background-color: #242323;
    cursor: pointer;
  }

  body::-webkit-scrollbar-thumb {
    background-color: #e07e0e;
  }

  .sync-lines {
    position: relative;
    width: 578px;
    height: 199px;
    -webkit-mask-image: linear-gradient(
      to right,
      transparent 0%,
      #fff 15%,
      #fff 97.1%,
      transparent 97.2%
    );
    mask-image: linear-gradient(
      to right,
      transparent 0%,
      #fff 15%,
      #fff 97.1%,
      transparent 97.2%
    );
  }

  .sync-line:nth-child(1) {
    width: 578px;
    height: 199px;
  }

  .sync-line:nth-child(2) {
    width: 578px;
    height: 136px;
    top: 63px;
  }

  .sync-line {
    position: absolute;
    left: 0;
  }

  .lazy-background-image-maskImage {
    -webkit-mask-image: url("../src/components/svg-line-animation/straightline.svg");
    mask-image: url("https://www.dimension.dev/build/q-e14375d3.png");
    -webkit-mask-size: cover;
    mask-size: cover;
  }

  .lazy-background-image {
    transition: 1s cubic-bezier(0.6, 0.6, 0, 1) opacity;
  }

  .sync-lines:nth-child(2) .sync-line:nth-child(2) div {
    animation-delay: 8s;
  }

  .sync-line:nth-child(2) div {
    animation-name: sync-line-2 !important;
  }
  .sync-line div {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 50px;
    left: 0;
    transform: translate(-300px, -400px) rotate(-45deg);
    animation: 10s linear infinite;
    background: linear-gradient(
      to bottom,
      rgba(109, 46, 255, 0),
      rgba(158, 122, 255, 0.3490196078),
      rgba(254, 139, 187, 0.6980392157),
      #ffbd7a
    );
  }

  @keyframes sync-line-1 {
    0% {
      transform: translateZ(0) translate(-300px, -400px) rotate(-45deg);
    }
    25%,
    100% {
      transform: translateZ(0) translate(578px, 199px) rotate(-45deg);
    }
  }
  @keyframes sync-line-2 {
    0% {
      transform: translateZ(0) translate(-300px, -400px) rotate(-45deg);
    }
    25%,
    100% {
      transform: translateZ(0) translate(578px, 136px) rotate(-45deg);
    }
  }
}
